/*
    -fx-padding: 5;
    -fx-background-color: rgba(152, 251, 152, 0.2); // translucent palegreen
    -fx-background-color: rgba(255, 182, 93, 0.3);  // translucent mistyrose
-fx-border-style: dashed;
    -fx-border-color: firebrick;

.button {
    -fx-background-color: linear-gradient(to bottom, #158fdb, #1e72a6);;
}

*/
